.required::after {
  content: " *";
  color: red;
}

.required-if-true::after {
  content: " *";
  color: orange;
}

html,
body,
#__next,
#__next > main {
  height: 100%;
}

#__next > main {
  display: flex;
  flex-direction: column;
}

#__next > main > .container:nth-child(2) {
  flex: 1;
}
